@import "../../../styles/mixins";

.chatSideMain {
  height: 100%;
  width: 100%;
  // background-color: rgba(0, 234, 255, 0.311);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.messageContainer {
  overflow-y: scroll;
  @include scrollbar(0, 0);
//   flex-direction: column-reverse;
}
.inputDiv {
  margin-top: auto;
  padding: 0.5rem 0.2rem 1.5rem;
  position: sticky;
  bottom: 0;
  form {
    position: relative;
    @include flex_box(row, space-between);
    padding-inline: 0.5rem;
    input,
    textarea {
      position: absolute;
      padding: 0.5rem 3rem;
      left: 0;
      top: 0;
      width: 100%;
      // height: 100%;
      background-color: rgba(74, 76, 186, 0.333);
      outline: none;
      resize: none;
      @include scrollbar(0, 0);
    }
    svg {
      position: relative;
      transition: 0.3s ease;
      // color: black;
      &:last-child {
        color: orange;
        transform: rotate(-45deg);
      }
      &:active {
        transform: scale(0.5);
      }
    }
  }
}
.chatList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.chatBox {
  padding: 0.1rem;
  @include flex_box(row, flex-start, flex-start);
  img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  div {
    padding: 0.5rem;
    position: relative;
    background-color: #0d0d0d;
    // width: min(30rem, 85%);
    border-radius: 0.6rem;
    &::before {
      // content: "";
      position: absolute;
      width: 1rem;
      aspect-ratio: 1/1;
      top: 0;
      left: -01rem;
      // background-color: inherit;
    }
    h1,
    p {
      position: relative;
    }
    h1 {
      font-size: 1rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
    }
    span {
      margin-top: 0.3rem;
      display: block;
      font-weight: 500;
      color: rgb(244, 244, 244);
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }
}
