@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// variable

:root{
  --theme-bg:"black";
  --theme-color-light: rgba(14, 14, 14, 0.936);
  --theme-color-dark: rgba(242, 242, 242, 0.936);
  
  --black-rgb: 1, 1, 1;

  --primary-color:rgb(142, 24, 239);
  --primary-color-rgb: 142, 24, 239;

  --secondry-color: rgb(15, 234, 179);
  --secondry-color-rgb: 15, 234, 198;

  --link-color: rgb(35, 112, 254);
  --specail-font:'Montserrat', sans-serif;
  
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-size: 16px;
  user-select: none;
}
body{
  background-color: rgb(26, 26, 26);
  min-height: 100vh;
  min-height: 100dvh;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

a{
  font-weight: 700;
  color: var(--link-color);
  text-decoration: none;
  transition: 0.30s ease;
  border-radius: 0.35rem;
}
button{
  font: inherit;
  cursor: pointer;
  transition: 0.30s ease;
  &:hover , &:active{
    transition: 0.30s ease;
  }
}

input , textarea{
  // font-family: inherit;
  transition: 0.30s ease;
  color: inherit;
  &::placeholder{
    text-transform: capitalize;
    transition: 0.30s ease;
    opacity: 0.7;
    color: inherit;
  }
  &:focus{
    &::placeholder{
      opacity: 0.5;
    }
    
  }
}

svg{
  transition: 0.30s ease;
  cursor: pointer;
}




